div{
    height: 100px;
    width: 100px;
    /* background-color: orange; */
    margin-bottom: 20px;
    border: 1px solid black;
}

div:nth-child(odd){
    background-color: red;
}
div:nth-child(odd):hover{
    background-color: blue;
}

div:nth-child(even){
    background-color: blue;
}
div:nth-child(even):hover{
    background-color: red;
}
